/* Adjust hover effects */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: white !important;
    color: #512582 !important;
}

/* Customize arrow size and weight */
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px !important;
    font-weight: bold;
}



.swiper-button-next,
.swiper-button-prev {
    background-color: #512582 !important;
    color: white !important;
    border-radius: 50%;
    width: 50px !important;
    margin-top: 1px !important;

    height: 50px !important;
    /* Ensure buttons are above slides */
}

.swiper-button-prev11 .swiper-button-next {
    margin-top: -10px !important;

}

.swiper-button-prev11 .swiper-button-prev {
    margin-top: -10px !important;

}

.mySwiper11 .swiper-button-next {
    position: absolute !important;
    top: 50% !important;
    left: 10% !important;
    /* Next button on the right */
    transform: translateY(-50%) !important;
    border: 2px solid white !important;
    border-radius: 50% !important;
    padding: 12px;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    transition: background-color 0.3s ease-in-out !important;
    background-color: transparent !important;
}

.mySwiper11 .swiper-button-prev {
    position: absolute !important;
    right: 10% !important;
    transform: translateY(-50%) !important;
    border: 2px solid white !important;
    border-radius: 50% !important;
    padding: 12px !important;
    cursor: pointer !important;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    background-color: transparent !important;
    transition: background-color 0.3s ease-in-out;
    position: absolute !important;
    right: 10% !important;
    background-color: transparent !important;

}

.mySwiper11 .swiper-button-next:hover,
.mySwiper11 .swiper-button-prev:hover {
    background-color: #522583 !important;
    color: white !important;
    /* Hover background color */
}

@media screen and (max-width: 768px) {

    .mySwiper11 .swiper-button-prev,
    .mySwiper11 .swiper-button-next {


        display: none;
    }
}

.swiper-pagination-bullet {
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
    /* Active dot color (red) */
    opacity: 1;
}




.swiper-container .swiper-pagination-bullet {
    background-color: #512582 !important;
}

.swiper-container .swiper-pagination-bullet-active {
    background-color: #512582 !important;
}

.servecies .swiper-pagination-bullet,
.statistic .swiper-pagination-bullet {
    @apply bg-primary !important;
}


.swiper-pagination-bullet-active {
    @apply bg-white opacity-100 !important;
    /* Active dot color (red) */
}